html {
    font-family: sans-serif;
}
#main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 90%;
    flex-wrap: wrap;
}
#div1{
    display: flex; 
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    background-color: #96aad4;
    height: 22vh;
    width: 80%;
    border: 2px solid black;
}
#h1-1{
    width: 24%;
    margin-left: 1%;
    padding-right: 1%;
    border: 2px solid black;
    text-align: right;
    flex-wrap: wrap;
    background-color: white;
    font-size: calc(1.5vw + 1em);
    overflow: hidden;
}
#div2{
    display: flex;
    width: 80%;
    height: auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    overflow: hidden;
}
#div2-1{
    flex-basis: 26%;
    background-color: #ebd4be;
    border-right: 2px solid black;
    padding: 3% 0.7% 3% 0.9%;
    overflow: hidden;
}
#div2-2{
    flex-basis: 6%;
    border-right: 2px solid black;
}
#div2-3{
    flex-basis: 20%;
    background-color: #b0cfb4;
    border-right: 2px solid black;
    padding: 3% 0.7% 3% 0.9%;
    height: auto;
    overflow: hidden;
}
#div2-4{
    flex-basis: 6%;
    border-right: 2px solid black;
}
#div2-5{
    display: flex;
    flex-direction: column;
    width: 42%;
}
#div2-5-1{
    height: 30%;
    background-color: #ebd4be;
    border-bottom: 2px solid black;
    padding: 3% 0.7% 2% 2.1%;
    height: auto;
    overflow: hidden;
}
#div2-5-2{
    flex-grow: 1;
    display: flex;
    height: auto;
}
#div2-5-2-1{
    flex-basis: 44%;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 3% 0.7% 3% 2.1%;
    /* padding: 3% 0.7% 0 2.1%; */
    overflow: hidden;
}
#div2-5-2-2{
    flex-basis: 14%;
    border-right: 2px solid black;
}
#div2-5-2-3{
    flex-basis: 44%;
    background-color: #b0cfb4;
    padding: 3% 0.7% 3% 2.1%;
    border-right: 2px solid black;
    overflow: hidden;
}
#div3{
    display: flex; 
    align-items: center;
    border: 2px solid black;
    width: 80%;
    height: 22vh;
    gap: 20px;
    justify-content: flex-end;
    background-color: #96aad4;
}
#h1-2{
    flex-basis: 25%;
    margin-right: 1%;
    padding-left: 1%;
    border: 2px solid black;
    text-align: left;
    flex-wrap: wrap;
    background-color: white;
    font-size: calc(1.5vw + 1em);
    overflow: hidden;
}
#links{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0.5% 0 0.5% 0;
}
#colors{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 1% 0 1% 0;
}
a{
    margin-right: 0.5%;
    font-size: 1.2em;
    color: #0a0a0a;
    text-decoration: none;
}
.active{
    text-decoration: underline;
    text-underline-offset: 0.4em;
    color: rgba(26, 54, 211, 0.982);
    font-size: 1.3em;
}
.a-hover:hover{
    text-decoration: underline;
    text-underline-offset: 0.4em;
    color: rgba(119, 127, 204, 0.982);
}